In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('wine.csv')

In [3]:
data

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [4]:
data.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [12]:
x=data.iloc[:,[0,1,2,3,4,5,6,7,8,9,10]]

In [13]:
x

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0

In [14]:
y=data.iloc[:,-1]

In [15]:
y

0       5
1       5
2       5
3       6
4       5
       ..
1594    5
1595    6
1596    6
1597    5
1598    6
Name: quality, Length: 1599, dtype: int64

In [16]:
from sklearn.model_selection import train_test_split

In [18]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [19]:
x_train

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
1575,7.5,0.520,0.40,2.2,0.060,12.0,20.0,0.99474,3.26,0.64,11.8
848,6.4,0.640,0.21,1.8,0.081,14.0,31.0,0.99689,3.59,0.66,9.8
706,7.0,0.780,0.08,2.0,0.093,10.0,19.0,0.99560,3.40,0.47,10.0
1548,11.2,0.400,0.50,2.0,0.099,19.0,50.0,0.99783,3.10,0.58,10.4
127,8.1,1.330,0.00,1.8,0.082,3.0,12.0,0.99640,3.54,0.48,10.9
...,...,...,...,...,...,...,...,...,...,...,...
795,10.8,0.890,0.30,2.6,0.132,7.0,60.0,0.99786,2.99,1.18,10.2
1367,6.9,0.540,0.30,2.2,0.088,9.0,105.0,0.99725,3.25,1.18,10.5
46,7.7,0.935,0.43,2.2,0.114,22.0,114.0,0.99700,3.25,0.73,9.2
1170,9.2,0.360,0.34,1.6,0.062,5.0,12.0,0.99667,3.20,0.67,10.5
839,6.0,0.500,0.04,2.2,0.092,13.0,26.0,0.99647,3.46,0.47,10.0

In [20]:
from sklearn.ensemble import RandomForestClassifier

In [25]:
rf = RandomForestClassifier(n_estimators=100, criterion='gini')

In [26]:
rf.fit(x_train,y_train)

RandomForestClassifier()

In [27]:
rf.predict(x_test)

array([6, 5, 6, 5, 6, 5, 5, 5, 5, 6, 5, 5, 6, 6, 8, 5, 5, 6, 6, 5, 7, 6,
       5, 6, 7, 6, 5, 5, 4, 5, 5, 5, 5, 6, 5, 5, 5, 6, 5, 6, 6, 6, 5, 6,
       5, 7, 6, 6, 7, 6, 6, 6, 5, 7, 6, 7, 6, 5, 6, 6, 5, 6, 7, 7, 7, 6,
       7, 6, 5, 5, 6, 5, 5, 7, 5, 5, 6, 5, 6, 6, 5, 6, 5, 5, 5, 5, 5, 5,
       6, 6, 6, 5, 7, 5, 6, 6, 5, 6, 5, 6, 5, 6, 5, 5, 5, 7, 5, 5, 7, 5,
       5, 5, 6, 5, 6, 5, 6, 6, 5, 6, 5, 6, 7, 5, 7, 6, 6, 6, 5, 7, 6, 5,
       6, 6, 6, 6, 7, 6, 6, 5, 5, 6, 5, 6, 5, 6, 5, 5, 6, 5, 5, 5, 6, 5,
       6, 5, 6, 5, 6, 6, 7, 6, 5, 5, 6, 6, 6, 6, 6, 5, 6, 6, 6, 5, 5, 5,
       6, 6, 5, 6, 6, 5, 5, 6, 5, 6, 5, 5, 6, 5, 5, 6, 6, 6, 7, 5, 7, 6,
       5, 5, 5, 5, 7, 6, 5, 6, 6, 5, 5, 6, 6, 6, 6, 7, 5, 6, 6, 5, 6, 5,
       5, 5, 5, 6, 5, 6, 5, 5, 6, 6, 5, 5, 6, 5, 5, 6, 6, 6, 7, 5, 7, 6,
       5, 5, 5, 5, 6, 6, 6, 5, 6, 5, 5, 7, 5, 5, 5, 7, 6, 5, 5, 5, 6, 6,
       6, 6, 5, 7, 6, 6, 6, 5, 6, 7, 5, 6, 5, 7, 5, 6, 6, 5, 6, 5, 6, 6,
       6, 5, 5, 6, 5, 6, 6, 6, 6, 6, 5, 5, 6, 6, 6, 7, 5, 5, 6, 7, 5, 5,
       5, 5, 5, 5, 6, 6, 5, 5, 5, 6, 5, 7], dtype=int64)

In [29]:
y_test

1318    6
555     5
1592    6
393     5
329     5
       ..
1262    5
114     5
1113    6
180     5
1208    7
Name: quality, Length: 320, dtype: int64